<section id="slider">
  <!--slider-->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="slider-carousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li
              data-target="#slider-carousel"
              data-slide-to="0"
              class="active"
            ></li>
            <li data-target="#slider-carousel" data-slide-to="1"></li>
            <li data-target="#slider-carousel" data-slide-to="2"></li>
          </ol>

          <div class="carousel-inner">
            <div class="item active">
              <div class="col-sm-6">
                <h1><span>B</span>-SHOP</h1>
                <h2>Laptop MSI</h2>
                <p>
                  Nhắc đến laptop gaming cao cấp, chúng ta không thể bỏ qua một cái tên quen thuộc với hình ảnh đại diện từ hỏa long với tên MSI.
                   Sở hữu cho mình nhiều dòng sản phẩm cao cấp được người dùng đánh giá rất cao cả về mặt thẩm mỹ và sức mạnh cấu hình.
                </p>
                <!-- <button type="button" class="btn btn-default get">
                  Xem thêm
                </button> -->
              </div>
              <div class="col-sm-6">
                <img
                  src="/images/home/slider1.png"
                  class="girl img-responsive"
                  alt=""
                />
              </div>
            </div>
            <div class="item">
              <div class="col-sm-6">
                <h1><span>B</span>-SHOP</h1>
                <h2>Laptop Asus</h2>
                <p>
                  Là một trong những mẫu laptop được các game thủ yêu thích nhất hiện nay, laptop gaming ASUS 
                  không chỉ sở hữu hiệu năng cao, mà còn có thiết kế vô cùng đẹp mắt, ấn tượng và màn hình chân thật đến mức bất ngờ.
                </p>
                <!-- <button type="button" class="btn btn-default get">
                  Xem thêm
                </button> -->
              </div>
              <div class="col-sm-6">
                <img
                  src="/images/home/slider2.png"
                  class="girl img-responsive"
                  alt=""
                />
              </div>
            </div>

            <div class="item">
              <div class="col-sm-6">
                <h1><span>B</span>-SHOP</h1>
                <h2>Laptop Acer</h2>
                <p>
                  Laptop ACER là một trong những dòng laptop gaming mới nhất có trên thị trường, được trang bị cấu hình mạnh mẽ, 
                  thiết kế hầm hố, hiệu năng ấn tượng,... Nếu bạn đang tìm cho riêng mình dòng laptop gaming chất lượng 
                  thì ACER sẽ là sự lựa chọn bạn không nên bỏ qua.
                </p>
                <!-- <button type="button" class="btn btn-default get">
                  Xem thêm
                </button> -->
              </div>
              <div class="col-sm-6">
                <img
                  src="/images/home/slider3.png"
                  class="girl img-responsive"
                  alt=""
                />
              </div>
            </div>
          </div>

          <a
            href="#slider-carousel"
            class="left control-carousel hidden-xs"
            data-slide="prev"
          >
            <i class="fa fa-angle-left"></i>
          </a>
          <a
            href="#slider-carousel"
            class="right control-carousel hidden-xs"
            data-slide="next"
          >
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
