<section id="slider">
  <!--slider-->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="slider-carousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li
              data-target="#slider-carousel"
              data-slide-to="0"
              class="active"
            ></li>
            <li data-target="#slider-carousel" data-slide-to="1"></li>
            <li data-target="#slider-carousel" data-slide-to="2"></li>
          </ol>

          <div class="carousel-inner">
            <div class="item active">
              <div class="col-sm-6">
                <h1><span>B</span>-SHOP</h1>
                <h2>Đồng hồ Casio</h2>
                <p>
                  Đồng hồ Casio được biết đến là thương hiệu đồng hồ lâu đời
                  trong ngành công nghiệp đồng hồ tại Nhật Bản. Những mẫu đồng
                  hồ Casio nam và đồng hồ Casio nữ được yêu thích bởi thiết kế
                  đơn giản, dễ dàng để xem giờ, được trang bị đầy đủ các công
                  nghệ mới nhất và có giá bán cực kỳ rẻ.
                </p>
                <button type="button" class="btn btn-default get">
                  Xem thêm
                </button>
              </div>
              <div class="col-sm-6">
                <img
                  src="/images/home/slider1.png"
                  class="girl img-responsive"
                  alt=""
                />
              </div>
            </div>
            <div class="item">
              <div class="col-sm-6">
                <h1><span>B</span>-SHOP</h1>
                <h2>Đồng hồ Doxa</h2>
                <p>
                  Doxa là thương hiệu đồng hồ Thụy Sỹ lâu đời, có bề dày lịch sử
                  hơn 130 năm. Với những dấn ấn thăng trầm, nhưng Doxa có quyền
                  tự hào nói với thế giới rằng: “100% chi tiết đồng hồ Doxa được
                  sản xuất tại Thụy Sỹ – SWISS MADE đúng nghĩa, hiện thân của
                  chất lượng kỹ thuật và chất lượng thẩm mỹ mà không có bất kỳ
                  sự trộn lẫn nào”.
                </p>
                <button type="button" class="btn btn-default get">
                  Xem thêm
                </button>
              </div>
              <div class="col-sm-6">
                <img
                  src="/images/home/slider2.png"
                  class="girl img-responsive"
                  alt=""
                />
              </div>
            </div>

            <div class="item">
              <div class="col-sm-6">
                <h1><span>B</span>-SHOP</h1>
                <h2>Đồng hồ Citizen</h2>
                <p>
                  Citizen – Thương hiệu đồng hồ được thành lập bởi các nhà đầu
                  tư Nhật Bản và Thụy Sỹ vào năm 1918. Trụ sở chính của hãng
                  được đặt tại Nhật Bản, bao gồm cả dây chuyền sản xuất bộ máy
                  độc lập do tập đoàn nắm giữ. Thương hiệu trực tiếp lắp ráp 3
                  dòng sản phẩm là đồng hồ Citizen Automatic, Quartz và
                  Eco-Drive.
                </p>
                <button type="button" class="btn btn-default get">
                  Xem thêm
                </button>
              </div>
              <div class="col-sm-6">
                <img
                  src="/images/home/slider3.png"
                  class="girl img-responsive"
                  alt=""
                />
              </div>
            </div>
          </div>

          <a
            href="#slider-carousel"
            class="left control-carousel hidden-xs"
            data-slide="prev"
          >
            <i class="fa fa-angle-left"></i>
          </a>
          <a
            href="#slider-carousel"
            class="right control-carousel hidden-xs"
            data-slide="next"
          >
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
